@model UAL.BLL.Models.User

@{
    ViewBag.Title = "PasswordReset";
}
<div id="main1" style="margin-right: 450px;padding:20px; margin-left: 450px; margin-top: 200px; background-color: rgba(25,25,25,0.3)">
    <h2>Reset Your Password</h2>
    <br />
    <b>User: <span style="font-size:14px">@Session["UserNameForPR"]</span></b>
    <div>
         &nbsp;
    </div>
    @using (Html.BeginForm())
    {
        
        <label>Password: </label>
        <input type="password" name="pw" id="pw" required />
        <br />
        <br />
        <input type="submit" />
    }
</div>