@{
    ViewBag.Title = "About";
}
<style>
    .row {
        width: 84.3vw;
        margin-left: 0vw;
        padding-left: 1vw;
        padding-bottom: 1vh;
        margin-right: 0vw;
        background-color: white;
        color: #333;
        min-height: 30px;
        border-bottom: 1px solid #ddd;
    }
</style>
<div id="main1" style="margin-left:195px">
    <div class="row">
        <h1>UAL Operation Management</h1>
        <h4>Powered by : <a href="https://www.gits-bd.com">Global Info-Tech Systems Ltd.</a></h4>
        <h4>
            Version: 1.0.0.1
        </h4>
        <h4>
            Support Email: <a href="mailto:mahbub.moon6@gmail.com">mahbub.moon6@gmail.com</a>
        </h4>
        <h4>Support Cell Number: <a href="tel:+8801676272718">+8801676272718</a></h4>
    </div>
</div>
