@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoAccess</title>
</head>
<body>
    <div>
        You do not have access to this URL
    </div>
</body>
</html>
